# PDF extraction
PyMuPDF

# Text splitting
langchain-text-splitters
langchain

# Embeddings & LLM
sentence-transformers
langchain-huggingface
langchain-community
langchain-chroma
torch

# Vector store
chromadb

# Environment variables
python-dotenv

# Optional utilities
python-multipart
uuid

streamlit
reportlab